#container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: Linen;
    color: #222;
    margin: auto;
    width: 90%;
}

.baner {
    background-color: black;
    color: white;
    width: 50%;
    height: 100px;
    float: left;
}

#glowny{
    clear: both;
    padding: 20px;
}

li {
    display: inline-block;
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid white;
}

table {
    margin: 40px;
}

td {
    padding: 30px;
    text-align: center;
    font-weight: bold;
}

a {
    color: #aaa;
    text-decoration: none;
}

a:hover {
    color: white;
}

#stopka {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

