*{
    font-family: Garamond;
}

#baner1{
    background-color: #00600F;
    color: white;
    text-align: center;
    width: 75%;
    height: 90px;
    float: left;
}

#baner2{
    background-color: #00600F;
    color: white;
    width: 25%;
    height: 90px;
    float: left;
}

#glowny{
    clear: both;
    background-color: #C8E6C9;
    height: 600px;
    overflow: scroll;
}

#stopka{
    background-color: #00600F;
    color: white;
}

h5{
    background-color: #00600F;
    color: white;
    font-size: 200%;
    text-align: center;
    padding: 0px;
}

h2{
    text-align: right;
}

.produkt{
    margin: 10px;
    border: solid 1px #00600F;
    width: 300px;
    float: left;
}